<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>手工分类</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    {% if topics %}{% for t in topics %}
    	<div>
    	{{t.created}} <a href="{{t.url}}" title="{{t.text}}">{{t.title}}</a>
    	{% for a in types %}
    	<a href="/training/{{t.tid}}/{{a.0}}">{{a.1}}</a>
    	{% endfor %} {{t.type}} / {{t.other}}
    	</div>
    {% endfor %}
    {% else %}
    没有东西
    {% endif %}
    <div style="margin:10px auto; width:150px;">
        <a href="{{page|add:'-1'}}">上一页</a>
        <span>{{page}}</span>
        <a href="{{page|add:'1'}}">下一页</a>
    </div>
</body>
</html>